body {
    overscroll-behavior-y: none;
}

.App-header {
    background-color: black;
}

#my-canvas {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}




@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::-webkit-scrollbar {
        width: .75em;
	height: .75em
    }

    ::-webkit-scrollbar-track {
        background-color: black;
    }
								
    ::-webkit-scrollbar-thumb:vertical {
        height: 5em;
	background-color: black;
    }		
}

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
.omniBack {
    width: 80%;
    height: 100%;
    position: absolute;
    padding: 25px;   
    font-family: 'Press Start 2P', cursive;
}

.rollingMessageBlockAndButton {
    height: 100%;
}


.rollingMessageBlock {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 80%;
    height: 90%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#rollingMessage {
    max-height: 85%;
    overflow: hidden;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.rollingMessageFont {
    font-size: .6em;
    line-height: 1.4em;
    position: relative;
}

.autoImage {
    height: 300px;
    width: auto;
}

#tempMessageArea {
    height: 12%;
}

#messageButton {
    position: relative;
    bottom: 5%;
    background-color: darkgrey;
    color: black;
}

#miniGame {
    outline-style: solid;
    outline-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.grid-item { width: 30%; margin: 1%;}
.grid-item--width2 { width: 48%;}

#mashButton {
    color: black;
    background-color: white;
    width: 200px;
    height: 35px;
}

#miniGame > canvas {
    height: 400;
    width: 400;
}

.messageVideo {
    height: 300px;
    width: auto;
}

@media only all and (max-width: 800px) {
    .omniBack{
        width: 100%;
	touch-action: manipulation;
    }
    .autoImage{
        width: 100%;
	height: auto;
    }
    .grid-item{
        width: 100%;
    }

    #miniGame > canvas {
        height: 200;
	width: 200;
    }

    #miniGame {
        font-size: 15px;
    }
    .messageVideo {
        width: 100%;
	height: auto;
    }

}
